@charset "ISO-8859-1";

#name {
	float: right;
	margin-right: 40px;
}

#announceButton {
	position: relative;
	bottom: 5px;
	margin-left: 5px;
}

.announce {	
	background-color: #2E328E;
	color: white;
}

#announcements, #announceButton {
	display: inline-block;
}


.announceTable {
	float: right;
	height: 500px;
  	overflow-y: auto;
  	margin-top: 8px;
}

a:hover {
	color: #FFC656;
}

.feedbackTable, .reportTable {
	height: 500px;
   	overflow-y: auto;
}

thead {
	background-color: #FFC656;
}

td a:hover {
	color: #2E328E;
}
table, tr, td, th {
	padding: 30px;
}
.reviewed {
	background-color: #2E328E;
	color: white;
}
.reviewed:hover {
	background-color: #FFC656;
	color: black;
}

.sub {
	background-color: #FFC656;
	color: black;
}