@charset "ISO-8859-1";

#name {
	float: right;
	margin-right: 40px;
}

#announceButton {
	position: relative;
	bottom: 6px;
	margin-left: 5px;
}

.announce {	
	background-color: #2E328E;
	color: white;
}

#announcements, #announceButton {
	display: inline-block;
}


.announceTable {
	float: right;
	height: 500px;
  	margin-top: 8px;
  	overflow-y: auto;
}

a:hover {
	color: #FFC656;
}

.feedbackTable, .reportTable {
	height: 500px;
   	overflow-y: auto;
}

thead {
	background-color: #FFC656;
}

td a:hover {
	color: #2E328E;
}
table, tr, td, th {
	padding: 30px;
}
.reviewedButton {
	background-color: #2E328E;
	color: white;
}
.reviewedButton:hover {
	background-color: #FFC656;
	color: black;
}

.reviewComplete {
	background-color: white;
}

.sub {
	background-color: #FFC656;
	color: black;
}


/* Loading Screen CSS  */

#loader {
  /* Center the loader */
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #FFC656;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
