@charset "ISO-8859-1";

body {
	overflow-x: hidden;
}
#logo {
	float: left;
	max-width: 200px;
}
#navvy {
	background-color: #FFC656;
}
#searchy {
	margin-right: 1em;
}
#headerRow {
	margin-top: 2em;
}
#newPost {
	margin: .5em 0;
}
#login-body {
    background-color: #FFC656;
}
.peccy {
    width: 150px;
    height: 150px;
    background: transparent;
}
.avatar {
	margin: 0 .5em;
	max-width: 75px;
}
.nav-link {
	color: #335C67;
}
.view-post {
	margin-left: 88%;
}
.content-panel {
	margin-bottom: .5em;
	padding: .5em;
	border: 1px solid #2B2D42;
}
.like:hover {
	color: #FFC656;
}
.bg-ghost-white {
	background-color: #F9FDFF;
}
.bg-cosmic-cobalt {
	background-color: #2E328E;
}
.bg-mustard {
	background-color: #FFC656;
}
.bg-blue-jean {
	background-color: #63ADF2;
}
.bg-gunmetal {
	background-color: #2B2D42;
}
.bg-gray-blue {
	background-color: #8D99AE;
}
.text-ghost-white {
	color: #F9FDFF;
}
.text-cosmic-cobalt {
	color: #2E328E;
}
.text-mustard {
	color: #FFC656;
}
.text-blue-jean {
	color: #63ADF2;
}
.text-gunmetal {
	color: #2B2D42;
}
.text-gray-blue {
	color: #8D99AE;
}
.report:hover {
	color: red;
}
.dropdown-menu ul {
	list-style-type: none;
}
.test {
	position: absolute;
	  top: 100%;
	  left: 0;
	  z-index: 1000;
	  display: none;
	  float: left;
	  min-width: 10rem;
	  padding: 0.5rem 0;
	  margin: 0.125rem 0 0;
	  font-size: 1rem;
	  color: #212529;
	  text-align: left;
	  list-style: none;
	  background-color: red;
	  background-clip: padding-box;
	  border: 1px solid rgba(0, 0, 0, 0.15);
	  border-radius: 0.25rem;
}